.gaming-item-list {
  list-style-type: none;
  width: 22%;
  margin: 30px 0px 30px 30px;
}
.thumb {
  width: 100%;
}
.gaming-title {
  font-size: 20px;
  font-weight: 500;
  color: #424242;
  margin-top: 10px;
  margin-bottom: 0px;
}
.view {
  font-size: 16px;
  color: #475569;
  margin-top: 0px;
}
