.browsing-lists {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
}
.content-container {
  display: flex;
}
.time {
  color: #64748b;
  font-size: 16px;
  font-family: 'Roboto';
  margin-right: 10px;
  margin-left: 10px;
}
.logo-container {
  display: flex;
  margin-left: 20px;
}
.logos {
  height: 20px;
  width: 20px;
  margin-top: 15px;
  margin-left: 10px;
}
.titles {
  color: #475569;
  font-size: 16px;
  font-family: 'Roboto';
  margin-left: 10px;
}
.domain {
  color: #6697ff;
  font-size: 16px;
  font-family: 'Roboto';
  margin-left: 8px;
}
.delete-button {
  width: 60px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}
.delete-icon {
  width: 20px;
  height: 20px;
}
