/* Write your CSS here */
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  min-height: 100vh;
}
.home-dark-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  min-height: 100vh;
}
.image {
  width: 300px;
  width: 300px;
}
.dark-content {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 55px;
  font-weight: bold;
}

.content {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 55px;
  font-weight: bold;
}
