/* Write your CSS here */

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #64748b;
  padding: 10px 0px 10px 0px;
}
.header {
  color: #475569;
  font-size: 38px;
  font-family: 'Roboto';
  font-weight: bold;
}
