/* Write your CSS here */
.nav-header {
  background-color: #475569;
  padding: 40px 0px 40px 0px;
  display: flex;
  justify-content: center;
}
.nav-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.layout {
  color: #f1f5f9;
  font-size: 38px;
  font-family: 'Roboto';
  font-weight: bold;
}
.input {
  width: 16px;
  height: 16px;
  margin-right: 15px;
}
.label {
  color: #f1f5f9;
  font-size: 16px;
  font-family: 'Roboto';
}
.input-container {
  display: flex;
  align-items: center;
}
/* #475569 #e2e8f0 #f1f5f9 #64748b #cbd5e1 */
